.product-grid {
    // background-color: red;
    display: grid;
    column-gap: 40px;
    grid-template-columns: minmax(0px, 348px) minmax(0px, 508px) minmax(0px, 288px);
    grid-template-areas: 
        "g-photo g-product-content g-options"
        "g-photo g-product-detail g-options"
        "g-review g-review g-options"

}

.g-photo {
    grid-area: g-photo;
}
.g-options {
    grid-area: g-options;
}
.g-product-content{
    grid-area: g-product-content;
}
.g-product-detail{
    grid-area: g-product-detail;
}
.g-review{
    grid-area: g-review;
}

.product-sticky {
    position: sticky;
    top: 120px;
    // z-index: 1;
    // background-color: white;
    // padding: 10px;
    // border-radius: 5px;
    // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

a {
    text-decoration: none;
}


// grid-footer
.grid-footer {
    gap: 4rem ; 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: 
        "g-footer-1 g-footer-2 g-footer-3 g-footer-4"
        "g-footer-5 g-footer-6 g-footer-7 g-footer-8"
}

.g-footer-1 {
    grid-area: g-footer-1;
}
.g-footer-2 {
    grid-area: g-footer-2;
}
.g-footer-3 {
    grid-area: g-footer-3;
}
.g-footer-4 {
    grid-area: g-footer-4;
}
.g-footer-5 {
    grid-area: g-footer-5;
}
.g-footer-6 {
    grid-area: g-footer-6;
}
.g-footer-7 {
    grid-area: g-footer-7;
}
.g-footer-8 {
    grid-area: g-footer-8;
}
