<template>
  <v-card :loading="loading" class="mx-auto px-0 my-2" max-width="224">
    <div class="px-8 py-8">
        <v-img src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"></v-img>
    </div>
  </v-card>
</template>

<script>
export default {};
</script>

<style></style>
