<template>
  <button>
    <v-icon style="font-size: 1.85em" class="font-weight-bold" :color="`${color}`" v-if="icon" :icon="icon"></v-icon>
    <span :class="`text-${color}`" style="font-size:.85em">
      <slot></slot>
    </span>
  </button>
</template>

<script setup>
import { defineProps, toRefs } from "vue";

const props = defineProps({
  icon: {
    type: String,
    default: "",
  },
  color: {
    type: String,
    default: "green-darken-3",
  },
});
const { icon, color } = toRefs(props);
</script>

<style></style>
