<template>
  <button v-if="type === 'outline'" 
  :class="`${paddingClass[size]}`"
  :style="`border-radius: 8px; border-width: 2px; border-style: solid; border-color:${borderColor}`">
    <v-icon
      style="font-size: 1.85em"
      class="font-weight-bold"
      :color="`${color}`"
      v-if="icon"
      :icon="icon"
    ></v-icon>
    <span style="font-size: 0.875em">
      <slot></slot>
    </span>
  </button>
  <button
    v-else
    :style="`$(customStyle) ;border-radius: 8px;`"
    :class="`bg-${color} ${paddingClass[size]}`"
  >
    <v-icon
      style="font-size: 1.85em"
      class="font-weight-bold"
      :color="`${color}`"
      v-if="icon"
      :icon="icon"
    ></v-icon>
    <span style="font-size: 0.875em">
      <slot></slot>
    </span>
  </button>
</template>

<script setup>
import { computed, defineProps, toRefs, useAttrs } from "vue";

const props = defineProps({
  icon: {
    type: String,
    default: "",
  },
  color: {
    type: String,
    default: "green-darken-3",
  },
  size: {
    type: String,
    default: "md",
  },
  type: {
    type: String,
    default: "solid",
  }
});
const { icon, color, size, type } = toRefs(props);

const paddingClass = {
  sm: "py-1 px-2",
  md: "py-1 px-3",
  lg: "py-3 px-4",
};

const attrs = useAttrs();
const customStyle = computed(() => {
  return attrs.style;
});

const borderColor = computed(()=>{
  return attrs['border-color'] || 'blue'
})
</script>

<style></style>
