<template>
  <button v-if="type === 'outline'">
    a
    <v-icon
      style="font-size: 1.85em"
      class="font-weight-bold"
      :color="`${color}`"
      v-if="icon"
      :icon="icon"
    ></v-icon>
    <span style="font-size: 0.875em">
      <slot></slot>
    </span>
  </button>
  <button
    v-else
    :style="`$(customStyle) ;border-radius: 8px;`"
    :class="`bg-${color} ${paddingStyle[size]}`"
  >
    <v-icon
      style="font-size: 1.85em"
      class="font-weight-bold"
      :color="`${color}`"
      v-if="icon"
      :icon="icon"
    ></v-icon>
    <span style="font-size: 0.875em">
      <slot></slot>
    </span>
  </button>
</template>

<script setup>
import { computed, defineProps, toRefs, useAttrs } from "vue";

const props = defineProps({
  icon: {
    type: String,
    default: "",
  },
  color: {
    type: String,
    default: "green-darken-3",
  },
  size: {
    type: String,
    default: "md",
  },
});
const { icon, color, size } = toRefs(props);

const paddingStyle = {
  sm: "py-1 px-2",
  md: "py-1 px-3",
  lg: "py-3 px-4",
};

const attrs = useAttrs();
const customStyle = computed(() => {
  return attrs.style;
});
</script>

<style></style>
