<template>
  <div class="d-flex justify-space-between align-content-center counter-container" style="width: 76px; flex-wrap: wrap;">
    <div>
      <button
        class="button text-green-darken-3 font-weight-bold"
        @click="decrementCounter"
      >
        <v-icon aria-hidden="false"> mdi-minus </v-icon>
      </button>
    </div>
    <div>
      <span class="text-counter">{{ counter }}</span>
    </div>
    <div>
      <button
        class="button text-green-darken-3 font-weight-bold"
        @click="incrementCounter"
      >
        <v-icon aria-hidden="false"> mdi-plus </v-icon>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Counter",
      counter: 0,
    };
  },
  methods: {
    incrementCounter() {
      this.counter++;
    },
    decrementCounter() {
      this.counter--;
    },
  },
};
</script>

<style scoped>
.button {
  font-size: 0.875rem;
}
.counter {
  border: 1px solid black;
}

.counter-container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}

.text-counter {
    line-height: 1;
    font-size: .95rem;
    font-weight: bold;
}
</style>
