<template>
  <v-footer class="footer bg-grey-lighten-4">
    <v-container>
      <div class="grid-footer">
        <div class="g-footer-1 pt-10">
          <v-img src="@/assets/img/logo.png" />
        </div>
        <div class="g-footer-2 pt-10">
          <div class="d-flex align-start" font-size="10px">
            <v-img :width="32" src="@/assets/img/footer-our-store.png"></v-img>
            <div class="ms-4">
              <h4>Our Store</h4>
              <p>
                Jalan Pintu Air Raya No.11 B,C,D,E,F,G Jakarta (10710),
                Indonesia
              </p>
            </div>
          </div>
        </div>
        <div class="g-footer-3 pt-10">
          <div class="d-flex align-start" font-size="10px">
            <v-img
              :width="12"
              src="@/assets/img/footer-contact-us.png"
            ></v-img>
            <div class="ms-4">
              <h4>Contact Us</h4>
              <p>Phone : 0213500703</p>
              <p>WA : 0818434301</p>
            </div>
          </div>
        </div>
        <div class="g-footer-4 pt-10">
          <div class="d-flex align-start" font-size="10px">
            <v-img
              :width="36"
              src="@/assets/img/footer-opening-hours.png"
            ></v-img>
            <div class="ms-4">
              <h4>OPENING HOURS</h4>
              <p>Mon – Sat : 8:30 AM – 6 PM</p>
              <p>Sunday : 10 AM – 5 PM</p>
            </div>
          </div>
        </div>

        <div class="g-footer-5 font-weight-bold">
          <p><b class="mb-5">Asia Golf Superstore Jakarta</b></p>
          <br />
          <p>Jalan Pintu Air Raya No.11 B,C,D,E,F,G</p>
          <p>Jakarta – 10710 , Indonesia.</p>
          <p>Phone : (021) – 3500703</p>
          <p>Fax : (021) – 3455902</p>
          <p>Whatsapp : 0818434301</p>
          <p>Email : sales.golf@asiasmg.com</p>
          <p>Instagram : @asiagolfindonesia</p>

          <div class="mt-4">
            <p>Opening hours :</p>
            <p>Monday – Saturday : 8.30 AM – 7 PM</p>
            <p>Sunday : 10.00 AM – 5 PM</p>
            <p>Public Holidays : “Please call for opening hours.”</p>
          </div>
        </div>

        <div class="g-footer-6">
          <p><b>Asia Golf Surabaya</b></p>
          <p>Jl. Mayjen Sungkono No. 17 Komplek Ruko Galeria</p>
          <p>Phone : (031) – 5670430</p>
          <p>Fax : (031) – 5630332</p>
          <p>Whatsapp : 0818660020</p>
          <div class="my-4"></div>
          <p><b>Opening hours :</b></p>
          <p>Monday – Saturday : 9.30 AM – 7 PM</p>
          <p>Sunday : 10 AM – 6 PM</p>
          <p>Public Holidays : “Please call for opening hours.”</p>
        </div>
        <div class="g-footer-7">
          <h2 class="text-green-darken-1">Info</h2>
          <ul class="pt-2" style="list-style: none">
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">Home</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">About Use</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">How to Buy</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">Store Location</a>
            </li>
          </ul>
        </div>
        <div class="g-footer-8">
          <h2 class="text-green-darken-1">Info</h2>
          <ul class="pt-2" style="list-style: none">
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">PXG</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">Taylormade</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">Bettinardi</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">PING</a>
            </li>
            <li class="my-2">
              <a class="text-black font-weight-medium" href="#">More Brand</a>
            </li>
          </ul>
        </div>
      </div>
    </v-container>
  </v-footer>
</template>

<script></script>

<style></style>
