<template>
  <v-app-bar color="blue-darken-4" class="bg-biru-tua">
    <!-- <v-app-bar-nav-icon> </v-app-bar-nav-icon> -->
    <!-- <v-toolbar-title>Coding Beauty</v-toolbar-title> -->
    <v-spacer></v-spacer>
    <v-btn class="ms-4" href="/"> Home </v-btn>
    <v-btn href="/"> Ecommerce </v-btn>
    <v-btn href="/"> Regripping & Fitting </v-btn>
    <v-btn href="/"> Store Location </v-btn>
    <v-btn href="/"> Brands </v-btn>
    <v-btn href="/"> Contact Us </v-btn>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-btn href="/"> Masuk </v-btn>
    <v-btn href="/"> Daftar </v-btn>

    <template v-slot:extension>
      <div class="d-flex py-">
        <v-img width="200" src="@/assets/img/logo.png" />
      </div>
    </template>
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      nav: [
        {
          icon: "home",
          text: "Home",
          title: "Back to Home page",
          active: true,
        },
        {
          icon: "012D6Einfo",
          text: "About",
          title: "About this demo",
          active: false,
        },
        {
          icon: "assignment_turned_in",
          text: "Todos",
          title: "Some stuff that needs doing",
          active: false,
        },
        {
          icon: "email",
          text: "Contact",
          title: "Our Contact info",
          active: false,
        },
      ],
    };
  },
};
</script>

<style>
div.v-toolbar__extension {
  background-color: white !important;
  color: black;
  height: auto;
}
.bg-biru-tua {
  background-color: #012D6E !important;
}


</style>
