<template>
  <v-card :loading="loading" class="mx-auto px-0 my-2" max-width="224">
    <template v-slot:loader="{ isActive }">
      <v-progress-linear
        :active="isActive"
        color="deep-purple"
        height="4"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      cover
      height="128"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    ></v-img>

    <!-- <v-card-item class="pb-0 px-3 my-0">
      <v-card-subtitle class="font-weight-bold text-black two-lines"
        ></v-card-subtitle
      >
    </v-card-item> -->
    <v-card-text class="mb-4 px-2 py-2">
      <div class="two-lines font-weight-medium">
        {{ "All-New PXG 0311 GEN6 Iron Special...".substring(0, 30) + "..." }}
      </div>
      <div class="mt-2">
        <span>
          <v-chip
            density="compact"
            pill="true"
            color="red"
            class="text-caption px-2 py-0 mr-2"
            style="border-radius: 6px"
          >
            <span style="font-size: 12px"> 40% </span>
          </v-chip>
          <span
            class="text-grey-darken-1 font-weight-medium tracking-tighter"
            style="text-decoration: line-through; font-size: 12px"
            >Rp. 12.000.000</span
          >
        </span>
      </div>
      <div
        class="mb-6 text-h6 font-weight-bold tracking-wide"
        style="letter-spacing: 0.025em"
      >
        Rp 8.000.000
      </div>
      <v-row align="center" class="mx-0">
        <v-rating
          length="1"
          :model-value="1"
          color="amber"
          density="compact"
          half-increments
          readonly
        ></v-rating>
        <div class="text-grey ms-1 font-weight-medium">4.5 | Terjual 100</div>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {};
</script>

<style scoped>
.two-lines {
  line-height: 1.5em;
  height: 3m;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

tracking-tighter {
  letter-spacing: -0.05em !important;
}
.tracking-tight {
  letter-spacing: -0.025em !important;
}
.tracking-normal {
  letter-spacing: 0em !important;
}
.tracking-wide {
  letter-spacing: 0.025em !important;
}
.tracking-wider {
  letter-spacing: 0.05em !important;
}
.tracking-widest {
  letter-spacing: 0.1em !important;
}
</style>
