<template>
  <v-container>
    <v-row class="mb-2">
      <v-breadcrumbs :items="breadcumbItems">
        <template v-slot:divider>
          <v-icon icon="mdi-chevron-right"></v-icon>
        </template>
        <!-- <template v-slot:item="{ item }">
          <v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
           coba
          </v-breadcrumbs-item>
        </template> -->
      </v-breadcrumbs>
    </v-row>
    <div class="product-grid">
      <div class="g-photo">
        <div class="product-sticky">
          <v-expand-transition>
            <v-sheet v-if="modelImage != null">
              <div class="d-flex fill-height align-center justify-center">
                <v-img :src="imageSlides[modelImage]"> </v-img>
                <!-- <h3 class="text-h6">Selected {{ modelImage }}</h3> -->
              </div>
            </v-sheet>
          </v-expand-transition>
          <v-slide-group
            v-model="modelImage"
            class="py-2 custom-slide"
            selected-class="bg-primary"
            show-arrows
          >
            <v-slide-group-item
              v-for="img in imageSlides"
              :key="img"
              v-slot="{ select, selectedClass }"
            >
              <v-card
                color="grey-lighten-1"
                :class="['ma-1', selectedClass]"
                height="84"
                width="84"
                @click="select"
              >
                <v-img
                  :src="img"
                  height="84"
                  width="84"
                  class="white--text align-end"
                ></v-img>
                <!-- <div class="d-flex fill-height align-center justify-center">
                <v-scale-transition>
                  <v-icon
                    v-if="isSelected"
                    color="white"
                    size="48"
                    icon="mdi-close-circle-outline"
                  ></v-icon>
                </v-scale-transition>
              </div> -->
              </v-card>
            </v-slide-group-item>
          </v-slide-group>
        </div>
      </div>

      <div class="g-options">
        <div class="product-sticky">
          <section-options :data-detail="dataDetail"></section-options>
        </div>
      </div>

      <div class="g-product-content">
        <h1>{{ dataDetail.name }}</h1>
        <div class="d-flex align-center">
          <v-rating
            length="1"
            :model-value="1"
            color="amber"
            density="compact"
            half-increments
            readonly
            class="ms-n2"
          ></v-rating>
          <span class="text-grey ms-1 font-weight-medium"
            >4.0 | Terjual {{ dataDetail.sold }}</span
          >
        </div>
        <div class="mb-1">
          <p class="text-h6 font-weight-bold">
            {{ priceReformat }}
            <span>
              <v-chip
                color="red"
                class="text-caption px-2 py-0 ml-2 mr-2"
                style="border-radius: 6px"
              >
                {{ Math.floor(dataDetail.discount_percentage) }}%
              </v-chip>
            </span>
            <span
              class="text-subtitle-1 font-weight-regular"
              style="text-decoration: line-through"
              >{{ discountPriceReformat }}</span
            >
          </p>
        </div>
        <v-divider></v-divider>
      </div>

      <div class="g-product-detail">
        <div>
          <span class="font-weight-bold text-subtitle-2">Pilih Varian: </span>
          <span class="px-2">
            {{ !!variants ? variants.length : "" }}
            <span class="px-1">Pilihan</span></span
          >
        </div>
        <div>
          <div class="d-flex">
            <v-chip-group mandatory selected-class="text-green border-green">
              <v-chip
                class="chip-variant bg-putih"
                v-for="vari in variants"
                :key="vari"
              >
                {{ vari.code }}
              </v-chip>
            </v-chip-group>
          </div>
        </div>
        <div class="mb-3">
          <v-divider></v-divider>
          <v-tabs v-model="tab" bg-color="transparent" color="basil" grow>
            <v-tab v-for="item in itemTabs" :key="item" :value="item">
              {{ item }}
            </v-tab>
          </v-tabs>
          <v-divider></v-divider>
          <v-window v-model="tab">
            <v-window-item :value="itemTabs[0]">
              <div class="mt-3">
                {{ dataDetail.description }}
              </div>
              <!-- {{ dataUlasan }} -->
            </v-window-item>
            <v-window-item :value="itemTabs[1]"> test </v-window-item>
            <v-window-item :value="itemTabs[2]"> test </v-window-item>
            <v-window-item :value="itemTabs[3]"> test </v-window-item>
          </v-window>
        </div>
        <v-divider></v-divider>
        <div class="mt-4">
          <h3 class="mb-3">Pengiriman</h3>
          <div class="d-flex mb-2">
            <v-icon size="22" class="me-3">mdi-map-marker</v-icon>
            <span class="">Dikirim dari <b>Jakarta</b></span>
          </div>
          <div class="d-flex mb-1">
            <v-icon size="22" class="me-3">mdi-truck-fast-outline</v-icon>
            <span class="">Ongkir Reguler 32rb - 50rb</span>
          </div>
          <div class="d-flex mb-1">
            <v-icon size="22" class="me-3"></v-icon>
            <span class="text-grey">Estimasi tiba 1- 3 Sep</span>
          </div>
          <div class="d-flex">
            <p class="">
              <v-icon size="22" class="me-3"></v-icon>
              <span class="text-grey"
                >Layanan: <span class="text-blue-darken-1">Reguler</span></span
              >
            </p>
          </div>
          <div class="d-flex justify-end mb-1 mt-n3">
            <a href="#" class="text-green-darken-3 text-body-2 font-weight-bold"
              >Lihat Pilihan Kurir</a
            >
          </div>
          <v-divider></v-divider>
          <div class="mt-3 mb-4">
            <h3>Promo Voucher</h3>
            <div class="d-flex mt-2" style="width: 80%; gap: 1em">
              <v-img width="64" src="@/assets/img/coupon-a.png"></v-img>
              <v-img width="64" src="@/assets/img/coupon-b.png"></v-img>
              <v-img width="64" src="@/assets/img/coupon-c.png"></v-img>
            </div>
          </div>
          <!-- <div class="d-flex">
            <v-icon size="22" class="me-3">mdi-tag</v-icon>
            <span class="">Voucher 10% untuk pembelian 2 item</span>
          </div> -->
          <v-divider></v-divider>
          <div class="mt-3">
            <h4>Ada masalah dengan produk ini?</h4>
          </div>
          <div class="d-flex justify-end mb-1 mt-n5">
            <a href="#" class="text-red-darken-2 text-body-2 font-weight-bold"
              >Laporkan</a
            >
          </div>
        </div>
      </div>
      <div class="g-review">
        <h2 class="mb-4 mt-8">Ulasan Pembeli</h2>
        <v-row>
          <v-col cols="4">
            <div class="d-flex align-center">
              <v-icon size="76" color="amber"> mdi-star </v-icon>
              <span class="font-weight-bold ms-4" style="font-size: 1.5rem">
                4.0/<span class="text-grey">5.0</span>
              </span>
            </div>
            <div
              class="d-flex align-center justify-center mt-2"
              style="gap: 4px"
            >
              <span
                class="text-caption font-weight-bold text-grey-darken-4 me-12 ms-n8"
              >
                56 Rating
                <v-icon size="4">mdi-circle</v-icon>
                10 Ulasan
              </span>
            </div>
            <div>
              <v-rating
                length="5"
                :model-value="4"
                color="amber"
                density="comfortable"
                half-increments
                readonly
                class=""
              ></v-rating>
            </div>
          </v-col>
          <v-col cols="8">
            <div>
              <h3>FOTO & VIDEO PEMBELI</h3>
              <section-photo-video></section-photo-video>
            </div>
            <div class="mt-8">
              <h3 class="mb-4">Ulasan Kamu</h3>
              <section-reviews :data-ulasan="dataUlasan"></section-reviews>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <v-divider></v-divider>
    <v-row class="mt-4">
      <v-col>
        <h2>Lihat Produk Lainnya</h2>
        <div class="d-flex justify-end mt-n9">
          <a href="#" class="text-body-1 font-weight-bold">Lihat Semua</a>
        </div>
        <v-row class="mt-4 mb-6">
          <v-col cols="2" v-for="n in 12" :key="n">
            <product-card></product-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import SectionOptions from "./SectionOptions.vue";
import SectionPhotoVideo from "./SectionPhotoVideo.vue";
import SectionReviews from "./SectionReviews.vue";
import { computed, inject, reactive, ref } from "vue";

const axios = inject("axios"); // inject axios
const breadcumbItems = ref(["HOME", "CLUBS", "DRIVERS", "ITEMS"]);
const itemTabs = ["Overview", "Technology", "Specs", "Benefits"];
let dataDetail = reactive({});
let dataUlasan = ref([]);
let dataPertanyaan = reactive({});
const modelImage = ref(null);

const tab = ref("Overview");

const variants = computed(() => {
  return dataDetail.variants;
});
const imageSlides = computed(() => {
  return dataDetail.photos;
});
const priceReformat = computed(() => {
  //optional chaining
  return (
    "Rp. " +
    dataDetail.price?.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
  );
});
const discountPriceReformat = computed(() => {
  //optional chaining
  return (
    "Rp. " +
    dataDetail.discount_before_price
      ?.toString()
      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
  );
});
//methods
const fetchDetail = async () => {
  const response = await axios.get("/api/ecomm/ecomm/product/25");
  // const response = fetch('/api/ecomm/ecomm/product/25')
  Object.assign(dataDetail, response.data.product);

  if (dataDetail.photos) modelImage.value = 0;
};
const fetchUlasan = async () => {
  const response = await axios("/api/ecomm/ecomm/product/25/review");
  dataUlasan.value = response.data.data;
};
const fetchPertanyaan = async () => {
  const response = await axios("/api/ecomm/ecomm/product/25/discussion");
  Object.assign(dataPertanyaan, response.data);
};

fetchDetail();
fetchUlasan();
fetchPertanyaan();
</script>

<style lang="scss" scoped>
/* F8F8F8 */
.v-chip {
  ::v-deep.bg-putih {
    // background-color: #EFF0FA!important;
    background-color: rgba($color: #f8f8f8, $alpha: 1) !important;

    // .v-chip__underlay{
    // }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-variant {
  border: 1px solid green !important;
  border-radius: 4px !important;
}

.custom-slide {
  position: relative;
  ::v-deep .v-slide-group__next,
  ::v-deep .v-slide-group__prev {
    min-width: 0;
    z-index: 1;
    top: 38%;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.011),
      rgba(0, 0, 0, 0.35)
    );
    border-radius: 50%;
    position: absolute;
  }
  ::v-deep .v-slide-group__prev {
    left: 0;
  }
  ::v-deep .v-slide-group__next {
    right: 0;
  }
}
s .v-slide-group__next--disabled {
  display: none;
}
.v-slide-group__prev--disabled {
  display: none;
}
</style>
