<template>
  <v-card
    id="limited-products"
    class="pt-2 pb-4 px-3"
    style="border: 1px solid rgb(192, 192, 192)"
  >
    <v-card-text class="py-0 px-0">
      <p class="font-weight-bold text-subtitle-1">Atur jumlah dan catatan</p>
      <div class="d-flex mt-8 align-content-center">
        <counter></counter>
        <div class="ms-4 center">
          <span class="font-weight-bold" style="font-size: 1.1rem"
            >Stock:&nbsp;</span
          >
          <span
            class="font-weight-bold text-blue-darken-4"
            style="font-size: 1.1rem"
          >
            Sisa 6</span
          >
        </div>
      </div>

      <div class="mt-3">
        <span class="font-weight-medium text-grey-darken-1"
          >Max. Pembelian 1 Pcs</span
        >
        <p class="text-blue-darken-1 font-weight-medium">Tambah Catatan</p>
      </div>

      <div class="mt-6 d-flex justify-end">
        <div
          class="mb-n2 font-weight-light text-grey-darken-2 text-subtitle-1"
          style="text-decoration: line-through"
        >
          {{ discountPriceReformat }}
        </div>
      </div>
      <div class="d-flex justify-space-between">
        <div class="font-weight-bold text-grey-darken-3 text-h6">Subtotal</div>
        <div class="font-weight-bold text-h6">{{ priceReformat }}</div>
      </div>
      <div class="d-flex justify-space-between mt-3">
        <button-base border-color="green" :type="'outline'">
            <span class="text-green-darken-3" style="font-size: 1.1em">Beli Sekarang</span>
        </button-base>
        <button-base>
            Tambah Keranjang
        </button-base>
        
      </div>
      <div class="mt-8 d-flex justify-space-between align-content-center px-3" style="gap: 0.2rem">
        <button-catatan :icon="'mdi-chat-outline'"> Chat </button-catatan>
        <divider-vertical class="mx-1"></divider-vertical>
        <button-catatan :icon="'mdi-heart-outline'"> Wishlist </button-catatan>
        <divider-vertical class="mx-1"></divider-vertical>
        <button-catatan :icon="'mdi-share-variant-outline'">
          Bagikan
        </button-catatan>
      </div>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { computed } from "vue";
import Counter from "@/components/_commons/Counter.vue";


const props = defineProps({
    dataDetail: {
        type: Object,
        default: () => {},
    },
})

const discountPriceReformat = computed(() => {
    return `Rp. ${props.dataDetail.discount_before_price?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}`
})
const priceReformat = computed(() => {
    return `Rp. ${props.dataDetail.price?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}`
})



</script>

<style lang="scss" scoped></style>
