<template>
  <div>
    <div class="mb-4" v-for="ulasan in dataUlasan" :key="ulasan.id">
      <div class="mb-3 d-flex align-center">
        <v-rating class="me-3">
          <template v-slot:item="{ index }">
            <v-icon
              style="font-size: 28px"
              class="me-1"
              v-if="index <= ulasan.rating"
              color="amber"
              >mdi-star</v-icon
            >
            <v-icon style="font-size: 28px" class="me-1" v-else color="grey"
              >mdi-star</v-icon
            >
          </template>
        </v-rating>
        <span class="text-body-2 font-weight-medium">{{
          ulasan.time_human
        }}</span>
      </div>
      <div class="px-3">
        <div class="d-flex align-center">
          <v-avatar class="me-3" color="grey">
            <span class="text-body1 font-weight-medium">CJ</span>
          </v-avatar>
          <p class="text-body-1 font-weight-medium">
            {{ ulasan.customer.name }}
          </p>
        </div>
        <div class="mt-5 mb-2 ps-1">
          <p class="text-body-2">{{ ulasan.content }}</p>
        </div>
        <div class="mb-1 d-flex justify-space-between">
            <div>
                <v-icon class="me-2" color="red"> mdi-heart </v-icon>
                <span class="text-caption">Membantu (1)</span>
            </div>
            <div class="">
                <span class="text-caption">
                    Lihat Balasan
                    <v-icon class="me-1"> mdi-chevron-down </v-icon>
                </span>
            </div>
        </div>
      </div>
      <v-divider></v-divider>
    </div>
  </div>
</template>

<script setup>
import { toRefs } from "vue";

const props = defineProps({
  dataUlasan: {
    type: Array,
    default: () => [],
  },
});

const { dataUlasan } = toRefs(props);
</script>

<style lang="scss" scoped></style>
