<template>
  <div>
    <div class="d-flex justify-end mt-n8">
      <button-base :type="'outline'" border-color="green">
        <span class="text-green-darken-3 font-weight-bold">+ Pertanyaan</span>
      </button-base>
    </div>
    <div class="d-flex mt-8" style="gap: 1.5em">
      <v-card elevation="10" v-for="n in 4" color="blue-grey-darken-4" :key="n">
        <v-img src="@/assets/img/dummy-review.png"></v-img>
      </v-card>
      <v-card color="blue-grey-darken-4">
        <v-img src="@/assets/img/dummy-review.png"></v-img>
        <v-overlay
          :model-value="true"
          contained
          :persistent="true"
          scrim="#fff"
          class="align-center justify-center"
        >
          <span class="text-h5">+5</span>
        </v-overlay>
      </v-card>
    </div>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
