<template>
  <v-container>
    <!-- SECTION_CAROUSEL -->
    <v-row>
      <v-carousel>
        <v-carousel-item
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          cover
        ></v-carousel-item>

        <v-carousel-item
          src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg"
          cover
        ></v-carousel-item>

        <v-carousel-item
          src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          cover
        ></v-carousel-item>
      </v-carousel>
    </v-row>
  </v-container>
  <v-container class="mb-6">
    <v-row align="start" style="height: 150px">
      <v-col>
        <v-card class="pa-2 ma-2"> Menu Pelatih </v-card>
      </v-col>
      <v-col>
        <v-card class="pa-2 ma-2"> Club Anda </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
        <h3>Produk Terbaru</h3>
    </v-row>
    <v-row >
      <v-col v-for="n in 6" :key="n" cols="4" md="3" lg="2">
        <ProductCard></ProductCard>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
        <h3>Exclusive Distributor</h3>
    </v-row>
    <v-row >
      <v-col v-for="n in 6" :key="n" cols="4" md="3" lg="2">
        <BrandCard></BrandCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import Home from "@/components/Home/index.vue";
import ProductCard from "@/components/_commons/ProductCard.vue";
import BrandCard from "@/components/_commons/BrandCard.vue";
</script>
