<template>
  <v-main>
    <Navbar/>
    <router-view />
    <Footer/>
  </v-main>
</template>

<script setup>
  import Navbar from "@/components/_commons/Navbar.vue";
  import Footer from "@/components/_commons/Footer.vue";
</script>
